/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}



.fontteks {
  font-style: italic;
  font-weight: bold;
}

.btnpesan {
  width: 150px; 
  height: 50px;
}

/*  */

.gatau {
  height: 100%;
  display: flex;
  align-items: center;
}
.kartu {
  background-color: white;
  width: 1140px;
  height: 100px;
  border-radius: 10px;
  padding: 16px
}
.kartu_tabel {
  background-color: rgb(149, 62, 62);
  width: 1140px;
  height: 50px;
  border-radius: 10px;
  padding: 16px
}

.bungkus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kartu-test{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.kereta {
  width: 250px;
  height: inherit;
  align-content: center;
}
.berangkat {
  height: inherit;
  width: 100px
}
.tabel_durasi {
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff6f00;
}

.ikon {
  size: 50px;
  margin-left: 14px;
  font-size: 25px;
}

.pesan-btn {
  background-color: #ff6f00;
  border-radius: 4px;
  width: 85px;
  
}
.kartu-form {
  border-radius: 10px;
  width: 1140px;
}
.cari-pesan-tiket-btn {
  background-color: #ff6f00;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  
}
.ganti-pencarian-btn {
  background-color: #ff6f00;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  font-size: 16px;
  
}
.details_tabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
            align-items: center;
            margin-top: 5px;
}
.kartu_view_pesan {

}
